<header class='navbar navbar-inverse navbar-static-top header'>

  <div class='container'>
    <div class='navbar-header'>
      <a href="/" class="navbar-brand">데모</a>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li class='text-right'><a href='/messages/new' class='new_message'><i class='glyphicon glyphicon-plus'></i></a></li>
    </ul>
  </div>
</header>



